<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="header_top">
            <img src="/images/logo-mercado-liebre.svg" alt="" class="logo">
            <form action="" method="" class="form_header">
                <label for="buscador"><input type="text" placeholder="Buscar productos, marcas" class="buscador" id="buscador" name="buscador">
                </label>
                <button type="submit" class="btn_buscador">
                   <i class="fa-solid fa-magnifying-glass"></i>
                </button> 
            </form>
             <h2 class="text_cuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
        
       
        <nav class="nav-bar">
            
                <ul class="ul_header ul1">
                    <li><a href="#">Ofertas</a> </li>
                    <li><a href="#">Tiendas Oficiales</a> </li>
                    <li><a href="#">Vender</a> </li>
                    <li><a href="#">Ayuda</a> </li>
                </ul>
            
            
                <ul class="ul_header ul2">
                    <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a> </li>
                    <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a> </li>
                    <li><a href="#"> Mis compras <i class="fa-solid fa-basket-shopping "></i></a></li>
                </ul>
            

        </nav>
        
        <div class="icon_container">
            <i class="fa-solid fa-bars menu_hamb"></i>
        </div>
    </header>
    <main>
        <form action="" class="formulario">
            <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de usuario" class="input_nombre"> <br>
            <input type="password" name="contraseñaUsuario" id="contraseñaUsuario" placeholder="Ingrese su contraseña" class="input_pass"><br>
            <button type="button" class="btn_enviar"><a href="">Enviar</a> </button>
        </form>
        <div class="error">Acá van los errores</div>
    </main> 
</body>
</html>